<ion-header>
  <ion-toolbar>
    <ion-title>Arkadaşlık İsteklerim</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let request of friendRequests">
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label slot="">
      {{request.user.firstName}} {{request.user.lastName}}
    </ion-label>
    <ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="accept(request.user)">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="decline(request.user)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-content>
