<ion-header>
  <ion-toolbar>
    <div slot="start">
      <div *ngIf="" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ion-title>
      Arkadaşlarım
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchString" showCancelButton="focus"></ion-searchbar>
  <ion-item *ngFor="let friend of friends | searchFriend:searchString">
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-label slot="">
      {{friend.user.firstName}} {{friend.user.lastName}}
    </ion-label>
    <ion-label>
      <ion-buttons class="deleteUser" slot="end">
        <ion-button (click)="remove(friend)">
          <ion-icon name="person-remove-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-content>
