#bottomBar{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: red;
  height: 6%;
}
#messageDiv{
  width: 100%;
  background-color: blue;
  height: 94%;
}
.messageBox{
  width: 60%;
  min-height: 5%;
  background-color: #3498DB;
  margin-left:1%;
  border-radius: 5%;
  border: 1px solid grey;
}
#messageInput{
  max-width: 100%;
}
#sendButton{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float:right;
  margin-right:3%;
}
