<ion-header>
  <ion-toolbar>
    <ion-title>{{group.user.firstName}} {{group.user.lastName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Message Div -->
  <div id="messageDiv">
    <div *ngFor="let chat of chats">
      <div *ngIf="chat.user.email==currentUser.email">
        <div class="messageBoxUser">{{chat.text}}</div>
        <div class="spaceDiv"></div>
      </div>
      <div *ngIf="chat.user.email!=currentUser.email">
        <div class="messageBox">{{chat.text}}</div>
        <div class="spaceDiv"></div>
      </div>
    </div>
  </div>
  <!-- Message Div End-->
  <div id="bottomBar">
    <div class="row">
      <div class="col-10">
        <input id="messageInput" class="form-control" [(ngModel)]="message" type="text">
      </div>
      <div class="col-2">
        <button id="sendButton" (click)="sendMessage()">
          <ion-icon name="send-outline"></ion-icon>
        </button>
      </div>
    </div>

  </div>
</ion-content>
