#bottomBar{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: red;
  height: 10%;
}
#messageDiv{
  width: 100%;
  background-color: blue;
  height: 90%;
}
.messageBox{
  width: 60%;
  min-height: 5%;
  background-color: #3498DB;
  margin-left:1%;
  border-radius: 5%;
  border: 1px solid grey;
}
