<ion-header>
  <ion-toolbar>
    <ion-title>
      <div *ngIf="isLoad" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      &nbsp;
      <img width="40" style="border-radius: 50%;" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">

      {{group.user.firstName}} {{group.user.lastName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="emojisBackground">

  </div>
  <div id="emojis">

  </div>
  <!-- Message Div -->
  <div id="messageDiv">
    <div *ngFor="let chat of chats">
      <div *ngIf="chat.user.phoneNumber==currentUser.phoneNumber">
        <div class="messageBoxUser messageBoxGlobal">
          <div class="username usernameUser">Ben</div>
          {{chat.text}}
          <div class="messageBoxDate messageBoxDateUser">{{getDate(chat.date)}}</div>
        </div>
        <div class="spaceDiv"></div>
      </div>

      <div *ngIf="chat.user.phoneNumber!=currentUser.phoneNumber">
        <div class="messageBox messageBoxGlobal">
          <div class="username usernameSender text-white">
            <span *ngIf="chat.user.firstName.length>10">{{chat.user.firstName.substring(0,10)}}</span>
            <span *ngIf="!(chat.user.firstName.length>10)">{{chat.user.firstName}}</span>
          </div>
          {{chat.text}}
          <div class="messageBoxDate messageBoxDateSender text-white">{{getDate(chat.date)}}</div>
        </div>
        <div class="spaceDiv"></div>
      </div>
    </div>
  </div>
  <!-- Message Div End-->
  <div id="bottomBar">
    <div class="row">
      <div class="col-8 p-1">
        <ion-input id="input" class="form-control" (keyup.enter)="sendMessage()" [(ngModel)]="message"></ion-input>
        <!-- <input id="messageInput" class="form-control" [(ngModel)]="message" type="text"> -->
      </div>

      <div class="col-2 p-0">
        <button (click)="showEmojis()" id="emojiButton">
          <ion-icon name="happy-outline"></ion-icon>
        </button>
      </div>
      <div class="col-2 p-0">
        <button [disabled]="!message || !message.trim()" id="sendButton" (click)="sendMessage()">
          <ion-icon name="send-outline"></ion-icon>
        </button>
      </div>
    </div>

  </div>
</ion-content>
