#bottomBar{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: red;
  height: 6%;
}
#messageDiv{
  width: 100%;
  background-color: blue;
  height: 94%;
  overflow-y: scroll;
}
.messageBox{
  margin-bottom: 1%;
  display: block;
  width: 60%;
  min-height: 5%;
  background-color: #3498DB;
  float: left;
  margin-left:1%;
  border-radius: 5%;
  border: 1px solid grey;
}
.spaceDiv{
  width: 100%;
  display: block;
}
.messageBoxUser{
  margin-bottom: 1%;
  display: block;
  width: 60%;
  min-height: 5%;
  background-color: #3498DB;
  float: right;
  margin-right: 1%;
  border-radius: 5%;
  border: 1px solid grey;
}
#messageInput{
  max-width: 100%;
}
#sendButton{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float:right;
  margin-right:3%;
}
