<ion-header>
  <ion-toolbar>
    <ion-title>Giriş Yap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Eposta</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div class="text-danger"
        *ngIf="(loginForm.get('email').dirty || loginForm.get('email').touched) && loginForm.get('email').errors">
        <div *ngIf="loginForm.get('email').errors.required">Eposta Gerekli</div>
        <div *ngIf="loginForm.get('email').errors.maxlength">Eposta 50 karakteri geçemez</div>
        <div *ngIf="loginForm.get('email').errors.email">Geçersiz eposta</div>
      </div>
      <ion-item>
        <ion-label position="floating">Şifre</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="text-danger"
        *ngIf="(loginForm.get('password').dirty || loginForm.get('password').touched) && loginForm.get('password').errors">
        <div *ngIf="loginForm.get('password').errors.required">Şifre Gerekli</div>
        <div *ngIf="loginForm.get('password').errors.minlength">Şifre en az 6 karakter olabilir</div>
      </div>
    </form>
  </div>
  <div id="buttonContainer">
    <ion-button [disabled]="!isOk" [disabled]="!loginForm.valid" (click)="login()" color="primary" shape="round">
      <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Giriş Yap
    </ion-button>
  </div>
</ion-content>
